
.app{
align-content: center;
}



.game{
  /* margin: auto; */
  /* background-image: url('./imgs/cross.png'); */

}

.gameBoard{
  display: flex;
  width: 1200px;
  padding-left: 10px;
  padding-top: 5px;
    /* background-image: url('./imgs/cross.png'); */
  /* max-width: 606px; */
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
}

.tile1{
    background-image: url('./imgs/split/image_part_001.png');
}
.tile2{
    background-image: url('./imgs/split/image_part_002.png');
}
.tile3{
    background-image: url('./imgs/split/image_part_003.png');
}
.tile4{
    background-image: url('./imgs/split/image_part_004.png');
}
.tile5{
    background-image: url('./imgs/split/image_part_005.png');
}
.tile6{
    background-image: url('./imgs/split/image_part_006.png');
}
.tile7{
    background-image: url('./imgs/split/image_part_007.png');
}
.tile8{
    background-image: url('./imgs/split/image_part_008.png');
}
.tile9{
    background-image: url('./imgs/split/image_part_009.png');
}
.tile10{
    background-image: url('./imgs/split/image_part_010.png');
}
.tile11{
    background-image: url('./imgs/split/image_part_011.png');
}
.tile12{
    background-image: url('./imgs/split/image_part_012.png');
}
.tile13{
    background-image: url('./imgs/split/image_part_013.png');
}
.tile14{
    background-image: url('./imgs/split/image_part_014.png');
}
.tile15{
    background-image: url('./imgs/split/image_part_015.png');
}
.tile16{
    background-image: url('./imgs/split/image_part_016.png');
}
.tile17{
    background-image: url('./imgs/split/image_part_017.png');
}
.tile18{
    background-image: url('./imgs/split/image_part_018.png');
}
.tile19{
    background-image: url('./imgs/split/image_part_019.png');
}
.tile20{
    background-image: url('./imgs/split/image_part_020.png');
}
.tile21{
    background-image: url('./imgs/split/image_part_021.png');
}
.tile22{
    background-image: url('./imgs/split/image_part_022.png');
}
.tile23{
    background-image: url('./imgs/split/image_part_023.png');
}
.tile24{
    background-image: url('./imgs/split/image_part_024.png');
}
.tile25{
    background-image: url('./imgs/split/image_part_025.png');
}

.stats{
  float: right;
  padding-top: 15px;
  margin-right: 150px;
}
